body{
    font-family: sans-serif;
    padding: 30px;
    background-color: #f9f9f9;
}
input, button {
    padding: 10px;
    margin: 5px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 2px solid #ccc;
    padding: 10px;
    text-align: left;
}
 .pass {
    background-color: #d4edda;
 }
 .fail{
    background-color: #f8d7da;
 }