a[target] {
    text-decoration: none;
    color: #000000;

}
a[target="_self"]{
    color: aqua;
}
a[title~="Origin"]{
    color: blueviolet;
}
div[class|="child"]{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
div[class^="child"]{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 17, 255);
}
div[class$="child"]{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 72, 0);
}
div[class*="t"]{
    height: 100px;
    width: 100px;
    background-color: rgb(17, 204, 73);
}